* {
    font-family: "Sofia", sans-serif;
    background: -webkit-linear-gradient(#FF8124, #E1D794);    
}

.flex-container{
    background: -webkit-linear-gradient(#FF8124, #E1D794);    
}

.title{
    font-size:100px;
    color:#119980;
    justify-content: center;
    background: -webkit-linear-gradient(#F5271D, #E1D794);    
    padding:0;
    display: flex;
}

.logo{
    size: 100%;
    display: inline-block;
}

.stand_img{
    display: flex;
}

.content{
    display: flex;
    background: -webkit-linear-gradient(#FF8124, #E1D794);
    flex-direction: row;
    justify-content: flex-end;  
    font-size: 30px;
}

.menu{
    display: flex;
}

.contact{
    justify-content: flex-end;  
    font-size: 30px;
    display: flex;
}

.title{
    justify-content: center;
    font-size: 10vw;
}

.stand_img{
    max-width: 100%;
    height: auto;
}

