* {
    font-family: "Sofia", sans-serif;    
}

.container{
    background: -webkit-linear-gradient(#FF8124, #E1D794);    
}

.title{
    font-size:100px;
    color:#119980;
    justify-content: center;
    background: -webkit-linear-gradient(#F5271D, #E1D794);    
    padding:0;
    display: flex;
}

.logo{
    size: 100%;
    display: inline-block;
}

.content{
    display: flex;
    background: -webkit-linear-gradient(#FF8124, #E1D794);
    flex-direction: row;
}

.stand_img{
    size: 50%;
    justify-content: flex-start;   
}

.contact-us{
    justify-content: flex-end;  
    font-size: 40px;
    display: flex;
}

